<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LIV•RO</title>
       <link rel="stylesheet" href ='../../public/css/estilo.css'>
       <table>
    <tr>
     <td>
       <img  width="300" height="150" src='../../public/img/logo.png'/>
     </td>
    <td> 
        <h1 style="   position: absolute;top:40px; left:820px;font-size:80px" >LIV•RO </h1>   
    </td> 
    </tr>
   </table>
   <div style=" left:43px;"> 
   <h5 style="color:white;  left:430px;font-size:20px;" face="Courier"> 
     Troque, doe e empreste.  
   </h5 >
</div>
</head>

<body>
    <header>
<ul class="menu">             
                     <nav class="menu-principal"></nav>
                     <li> <a href="/">Página Inicial  </a></li>
                     <li>  <a href="/Cadastro_Usuario">Cadastro Usuario </a></li>
                     <li>  <a href="/Cadastro_Livro">Cadastro Livro </a></li>
                     <li>  <a href="/chat">Chat </a></li>
                     <li>  <a href="/avaliacoes">Avaliações </a></li>
                     </nav>
                </ul>

     </header>         
    {{{body}}}
</body>
</html>