<html>
    <body>

      <form name= "Cadastro do Livro" method= "GET" action=" " ></form>

         <div id="corpo">
        <div id="formulario">
        <form action="Cadastro_Livro" method="post"> 

        <size="3" face="Arial"> 
        Cadastro do Livro
        <br />

        <div class="Titulo direita" id="">
         <label for="Titulo">Titulo:</label><br>
         <input type="text" size="25" placeholder="Titulo do livro" id="titulo" name="titulo">
        </div>

        <div class="ISBN" id="">
         <label for="ISBN">ISBN:</label><br>
         <input type="text" size="25" placeholder="ISBN" id="ISBN" name="ISBN">
        </div>

        <div class="esquerda" id="">
         <label for="autor">Autor:</label><br>
         <input type="text" size="25" placeholder="Nome do Autor" id="autor" name="autor">
        </div>
                   
        <div class="editora esquerda" id="">
         <label for="editora">Editora:</label><br>
         <input type="text" size="25" placeholder="Nome da editora"id="editora" name="editora">
        </div>

        <div class="Edição direita" id="">
         <label for="edição">Edição:</label><br>
         <input type="text" placeholder="Edição do livro" id="edicao" name="edicao">
        </div>

                
        <div class="Volume direita" id="">
         <label for="volume">Volume:</label><br>
         <input type="text" size="25" placeholder="Volume do livro" id="volume" name="volume">
        </div>
                
        <div class="gênero esquerda" id="">
         <label for="genero">Gênero:</label><br>
         <input type="text" size="30" placeholder="Romance, ação" id="genero" name="genero">
        </div>
                
         <div class="descrição direita" id="">
         <label for="descrição">Descrição:</label><br>
         <input type="text" size="30" placeholder="Sinopse do livro" id="descricao" name="descricao">
        </div>

         <div class="situação esquerda" id="" >
         <label for="situação">Situação:</label><br>
         <input type="text" size= "30" placeholder= "troca / doação / empréstimo " name="situacao" id="situacao">
         </div>

         <div class="Estado do Livro" id="">
         <label for="Estado do livro" >Estado do Livro:</label><br>
         <input type ="text" size="30" placeholder= "Novo / seminovo / usado " name="estado" id="estado"> 
         </div>
    
        <input type="reset" value="Limpar Campos" class="botao">
        <input type="submit" value="Realizar cadastro" class="botao">

        </form>
          </div>
    </div>
    </body>

</html>