<html> 
<body>
   <body>
      <div id="corpo">
         <div id="formulario">
            <form action="Cadastro_Usuario" method="post">
               <div class="Usuario direita" id="">
                  <label for="Usuario">Nome de Usuário:</label><br>
                  <input type="text" size="25" placeholder="Nome de Usuário" id="usuario" name="usuario">
               </div>
               <div class="esquerda" id="">
                  <label for="nome">Nome Completo:</label><br>
                  <input type="text" size="35" placeholder="Nome Completo" id="nome" name="nome">
               </div>
               <div class="Data direita" id="">
                  <label for="Data_Nasc">Data de Nascimento:</label><br>
                  <input type="date" placeholder="Dia/Mês/Ano" id="nascimento" name="nascimento">
               </div>
               <div class="Email direita" id="">
                  <label for="email">E-mail:</label><br>
                  <input type="text" size="25" placeholder="exemplo@email.com"id="email" name="email">
               </div>
               <div class="senha direita" id="">
                  <label for="senha">Senha:</label><br>
                  <input type="password" size="30" placeholder="Senha" id="senha" name="senha">
               </div>
               <input type="reset" value="Limpar Campos" class="botao">
               <input type="submit" value="Cadastrar" class="botao">
            </form>
         </div>
      </div>
</body>

</html>